@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.mobile {
  display: none;
}

.header-menu-icon {
  display: none;
}

.header-items {
  width: 100%;
  display: flex;
  border-bottom: 2px solid;
  border-color: #7bb96e;
  padding: 0px;
}

body {
  margin: 0;
}

.header-links {
  /* border: 1px dashed; */
  display: flex;
  align-items: center;
  margin-left: auto;
  /* margin-right: 100px; */
}

.vip-life-coach-logo {
  /* border: 1px dotted; */
  width: 10%;
  height: 10%;
}

.header-link {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  position: relative;
  /* border: 1px dotted; */
  padding: 10px;
  text-decoration: none;
  color: black;
}

.header-link:hover::after {
  /* content: attr(data-text); */
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%; /* Expand the line to full width on hover */
  background-color: #7bb96e;
  z-index: -1;
}

.header-link::after {
  content: ""; /* Empty content for the line */
  position: absolute;
  right: 0; /* Where it transitions towards! */
  width: 0; /* Start with no width */
  height: 5%; /* Thickness of the line */
  bottom: 0;
  background-color: #7bb96e;
  transition: width 0.3s ease; /* Smooth transition */
  z-index: -1;
}

.header-link-active-page {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  position: relative;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.header-link-active-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #7bb96e;
  z-index: -1;
}

.header-links-mobile {
  display: flex;
  width: 150px;
  margin-left: auto;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  right: 0;
  z-index: 10;
  border-bottom: #7bb96e solid;
}

@media screen and (min-width: 0px) and (max-width: 800.67px) {
  .mobile {
    display: block;
  }

  .vip-life-coach-logo {
    /* border: 1px dotted; */
    width: 10%;
    height: 100%;
    position: relative;
  }

  .header-items {
    width: 100%;
    display: flex;
    border-bottom: 2px solid;
    border-color: #7bb96e;
    padding: 0px;
  }

  .header-links {
    display: none;
  }

  .header-menu-icon {
    display: block;
    width: 5%;
    height: 5%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
  }

  .header-link {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 0.5em;
    position: relative;
    text-align: center;
    /* border: 1px dotted; */
    padding: 10px;
    text-decoration: none;
    color: black;
    z-index: 10;
  }

  .header-link-active-page {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 0.5em;
    text-align: center;
    position: relative;
    padding: 10px;
    text-decoration: none;
    color: black;
  }

  .header-link::after {
    content: ""; /* Empty content for the line */
    position: absolute;
    right: 0; /* Where it transitions towards! */
    width: 0; /* Start with no width */
    height: 100%; /* Thickness of the line */
    bottom: 0;
    background-color: #7bb96e;
    transition: width 0.3s ease; /* Smooth transition */
    z-index: -1;
  }

  .header-link-active-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #7bb96e;
    z-index: -1;
  }
}
