.testimonials {
  font-family: "Montserrat", serif;
  margin: auto;
  width: 80%;
}

.individual-testimonial {
  margin: auto;
  margin-bottom: 20px;
  border: #7bb96e solid;
  background-color: #899c86;
}

.individual-testifier-name {
  text-align: center;
}

.individual-testimonial-details {
  margin: auto;
  margin-bottom: 10px;
  width: 90%;
}
